#discord-login-modal {
  width: 500px;
  height: 500px;
}

#discord-login-modal > .wrapper {
  width: 100%;
  height: 100%;
  padding: 0 0 20px 0;
  background-color: rgb(49, 51, 56);
  box-sizing: border-box;
  border-radius: 10px;
}

#discord-login-modal > .wrapper .login-image-wrapper {
  width: 100%;
  height: 350px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#discord-login-modal > .wrapper .login-image-wrapper .login-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#discord-login-modal > .wrapper .login-text-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#discord-login-modal > .wrapper .login-text-wrapper .login-text {
  font-size: 14px;
  color: white;
  font-weight: 700;
}

#discord-login-modal > .wrapper .login-button-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

#discord-login-modal > .wrapper .login-button-wrapper .common-button {
  margin: 0 auto;
}
